<div class="tab">
	<div>
		<ul class="contactlist" >
			<li class="contactlistitem">
				<h2 class="contactlistitemheading">Contact by Snail Mail</h2>
				<p>devoctomy</p>
				<p>75 St. Crispians</p>
				<p>Seaford</p>
				<p>East Sussex</p>
				<p>BN252DY</p>
				<p>England, UK</p>
			</li>
			<li class="contactlistitem">
				<h2 class="contactlistitemheading">Contact by E-Mail</h2>
				<h3>Regarding this Website</h3>
				<p><a href="mailto:webmaster@devoctomy">webmaster@devoctomy.com</a></p>
				<h3>For technical support</h3>
				<p><a href="mailto:support@devoctomy">support@devoctomy.com</a></p>
			</li>
		</ul>
	</div>
</div>